body {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 32px;
	}

td, th {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
}

a {
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 3px;
}
a:visited {
  text-decoration: none;
	}

a:hover {
	text-decoration: blink;
	font-weight: bolder;
}


form {
	background-color: #CCCC99;
}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
 background-color: #99CC00; color: #003333;}

.subtitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 30px;
 color: #0000CC;}

.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #0000CC;
	line-height: 30px;
}

.nav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	background-color: #CCFF99;
}

.navLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #DEDECA;
}

.liste {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14pt;
	line-height: 16pt;
	padding: 3px;
 color: #003333;
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #333333;
	background-color: #CCFF99;
}

.blanc {
	color: #FFFFFF;
}

.box1 {
	border-width: thin;
	border-color: #99FF99 #003300 #003300 #99FF99;
 border-style: double;
 }

.promo {
	font-family: "Times New Roman", Times, serif;
	color: #000033;
}

.titlebar {
	font-family: "Times New Roman", Times, serif;
	font-size: 9px;
	color: #FFFFFF;
	background-color: #336699;
}

.dingbat {
	background-color: #eeeeee;
 }

input.big {
	width: 100px;
}

input.small {
	width: 50px;
}
h1 {
	color: #990000;
	letter-spacing: 5px;
	font-size: 24px;
	font-weight: lighter;
}

h2 {
	color: #CC0000;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: lighter;
}

h3 {
	color: #FFFFFF;
	text-decoration: none;letter-spacing: 3px;
	font-weight: lighter;
}

h6 {
	color: #FFFFFF;
}
.quadrat {
	font-size: 9px;
	vertical-align: super;
}
