a:link {
	color: #FFFFFF;
	text-decoration: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	}

a:visited {
  color: #9F3F00;
  text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	font-weight: bolder;
}

a:active {
	color: #CC3300;
	font-weight: bolder;
}
.textnormal {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
}
body {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 14px;
}

.zitat {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: x-small;
}
h1 {
	color: #FFFFFF;
	letter-spacing: 5px;
	font-size: 24px;
	font-weight: lighter;
}

h2 {
	color: #FFFFFF;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: lighter;
}

h3 {
	color: #FFFFFF;
	text-decoration: none;letter-spacing: 3px;
	font-weight: lighter;
}

h6 {
	color: #FFFFFF;
}
