extends ../templates/layout.pug
block main
    section
        header
            h1=title
        p Vous avez un lieu à transformer, à rendre plus confortable, plus fonctionnel, plus attractif, plus agréable?
        
        p Vous voulez que vos amis vous disent: 
        blockquote Oh, c'est beau, on voit qu'un artiste a créé cet endroit!
        blockquote Oh, on se sent bien chez vous, j'ai envie de rester!
        blockquote Et en plus c'est fonctionnel, chaque chose est aussi pratique que possible.

        p Chacune de nos réalisations, appartements ou endroits professionnels, obtient ces exclamations des visiteurs - et des confirmations contentes des utilisateurs. 

        h2 Nos services:
        ol
            li L'analyse: 
                ul 
                    li Visite des lieux
                    li Analyse de l'état
                    li Définition des travaux nécessaires: murs, sol, plafond, portes et fenêtres, installation électriques, plomberie, chauffage, éclairage, meubles etc.
                    li Définition avec vous du budget, que vous voulez accorder à la transformation; des choses que vous voulez garder; du style que vous préférez
                    li Établissement de quelques propositions, de la réalisation minimale à la réalisation maximale
                    li Prix de l'analyse: jusqu'à 50 m2 200 Euros, de 50 à 150 m2 300 Euros
            li Le concept détaillé: 
                ul
                    li Nous planifions la transformation du chantier dans un endroit prêt à l'utilisation immédiate, basé sur les principes du "Bauhaus".
                    li Prix du concept: selon l'importance de la transformation et du projet, indiqué après l'analyse.
            li Les devis:
                p Basé sur la première étape et le concept, nous établirons plusieurs propositions:
                ul
                    li Les coûts des matériaux et de leur transport: c'est une liste des courses détaillé à titre indicatif, basé sur les prix et la qualité de nos fournisseurs habituels. Vous pouvez choisir d'autres fournisseurs ou choisir la qualité et le design directement à l'achat (carrelage, lampes etc).
                    li Les artisans: nous définissons les travaux pour lesquels vous auriez besoin d'un artisan (plomberie lourde, installation de gaz etc.). Si vous n'en connaissez pas, nous trouvons les artisans et transmettons leur devis.
                    li Les autres travaux: nous offrons les divers types de travaux nécessaires - regardez l'exemple de la transformation d'un appartement!
                    li Les devis sont payants, les prix varient selon l'importance des travaux. Si vous nous confiez les travaux ou une partie des travaux, les prix des devis sont prises en compte pour les partis de travaux concernés par ces devis.
            li Le travail:
                ul
                    li Achat et transport des matériaux
                    li Coordination des travaux et des artisans
                    li Diverses travaux (carrelage ou autres revêtements de sol, peinture, électricité, plomberie etc)
                    li Achat et montage des meubles
                    li Décoration
                    li Installations informatiques, réseaux, wifi etc.



