extends ../templates/layout.pug
block main
    section
        header
        h1=title
        p A Paris, en Île de France, en France Métropolitaine

        p Petits transports en camionnette:
        ul
           li Oeuvres pour une exposition
           li Courses
           li Caisses, meubles, machine à laver etc
        p Tout débarras
        ul
           li Vide cave
           li Vide grenier
           li Enlèvement d'encombrants
        p La devise de notre homme "C'est vite fait, les lieux sont propres et tout le monde est content." 
        img(src="images/07james_01.jpg", alt="")
        img(src="images/07james_11.jpg", alt="")
        p Livraisons de très longues planches - "Vraiment, c'est rentré."
        