extends ../templates/layout.pug
block main
    section
        header
        h1=title 
        p Nous rendons des services, qui demandent:
        ul
            li de savoir faire,
            li parfois une voiture,
            li du talent d'organisation,
            li de la créativité

        p Nous contacter:
        p Par téléphone: 01.40.44.77.41
        p Par mobile: 06.32.95.40.90
        p Par mail: douglas@artistes-sf.org
    
        div
            p
            | Ce site est géré par l'association Artistes sans Frontières. Ce site offre une plate-forme à nos membres artistes, où ils proposent leurs services. 
            | Contactez-nous avec votre projet et nous vous mettons en contact avec les membres, qui peuvent le réaliser!
        br
        a(href="https://artistessansfrontieres.fr/mentions") Mentions légales d'Artistes sans Frontières