extends ../templates/layout.pug
block main
    section
        header
            h1=title
        p A Paris, en Île de France, en France Métropolitaine

        p Petits travaux:
        ul
           li Montage de meubles
           li Pose d'étagères
           li Petits rénovation etc
        
        p Déménagements ou débarras avec petits travaux:
        ul
           li Débranchement et branchement des appareils électroménager
           li Machine à laver ou lave-vaisselle
           li Lampes, prise télé, prise téléphone, matériel informatique etc
           li Réparations après enlèvement d'un meuble: carrelage, peinture, bois 
        
        p Organisation de déménagements en France et en Europe 