ul.menu
    li
        a(href='https://artistessansfrontieres.fr')
            img#logo(src='images/logo_asf.jpg' alt='logo Artistes sans Frontières')
    li
        a(href='/') Acceuil
    li
        a(href='debarras') Débarras
    li
        a(href='petit-travaux') Petit travaux
    li
        a(href='architecture-int') Architecture intérieure
    li
        a(href='studio-relooking') Studio relooking 
    li
        a(href='contact') Contact